.outer-wrapper, .switch-container{
    display: flex;
}

.drilldown-status{
    max-width: 200px;
}

.drilldown-status{
    color: red;
}

.drilldown-status.active{
    color: green;
}

button.active{
    background-color: #0868ca;
}

button.inactive{
    opacity: 0.5;
    cursor: not-allowed;
}

#title,#footer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: #ec0606;
    font-weight: bold;
}

#footer{
    position: relative;
    color: blue;
}

#my-svg{
    margin-top: 40px;
}

.line {
    stroke: #08bcca;
    stroke-width: 2.5;
}

.switch-container{
    flex-direction: column;
    justify-content: center;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

/* Dropdown Styles */

.dropbtn {
    background-color: #0bb1a9;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 10px;
    min-width: 100px;
}

.slideshow-control{
    display: flex;
}

.slideshow-container{
    display: flex;
    justify-content: center;
}

.country-title{
    margin-right: 25px;
    margin-block-start: 10px;
}

.slider{
    height: 30px;
    padding: 5px;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #0bb1a9;
  }

